<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<meta name="author" content="Auelnce,aulence@foxmail.com">
	<title>Vue构造</title>
	<link rel="stylesheet" href="style/common.css">
</head>
<body>
	<main id="main">
		<section id="app-1">
			<h3>1、基本数据显示</h3>
			<div>
                <p>商品单价：￥<input v-model="price" type="number"></p>
                <p>商品数量：<input v-model="count" type="number">个</p>
                <p>总价：￥{{total}}</p>
            </div>
		</section>
	</main>

	<script src="plugin/vue.js"></script>
	<script src="scripts/3.constructor.js"></script>
</body>
</html>