body {
  background-color: #f2f2f2;
}
html,
body,
ul,
p,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.navList {
  box-shadow: 0 2px 2px #ccc;
}
.navList li {
  float: left;
}
.navList a {
  padding: 5px 10px;
  text-decoration: none;
  color: #333;
}
