@charset "utf-8";
/**
 * 功能：XXX样式设置
 * 日期：2017/4/12
**/

/*************************************************/
/* 样式初始化部分 */
/*************************************************/
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*************************************************/
/* 元件样式定义 */
/*************************************************/

/*************************************************/
/* 样式细节设置部分 */
/*************************************************/

/*************************************************/
/* 响应式设计部分 */
/*************************************************/

/*************************************************/
/* 动画帧定义部分 */
/*************************************************/