/**
* 功能：公共样式
**/
@charset "utf-8";

.main {
	width: 1200px;
	margin: 20px auto;
	color: #4ac379;
}
/**** 商品数量选择 ****/
.goodsLength {
	display: inline-block;
}
.goodsLength input {
	width: 64px;
	padding: 6px;
	text-align: center;
}
.goodsLength button {
	padding: 0 8px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 24px;
}
.goodsLength button:active {
	color: #999;
}
/* 禁用时的样式 */
.goodsLength button.disabled {
	color: #ccc;
}